@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Poppins", Arial sans-serif;
}

h2 {
  text-align: center;
  margin: 1rem;
}

p {
  margin: 4rem;
  font-size: 1rem;
  font-weight: lighter;
}

figcaption {
  font-size: 0.7rem;
  text-align: center;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

article div {
  width: 50%;
}

.btn {
  text-decoration: none;
  padding: 1rem;
  -webkit-box-shadow: -1px 3px 19px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 19px -2px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  font-size: 1rem;
  font-weight: lighter;
<<<<<<< HEAD
  color: black;
=======
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
}

.btn:hover {
  font-weight: bold;
  color: white;
  background: black;
}

<<<<<<< HEAD
.btn:visited {
  color: black;
}

=======
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
header {
  position: fixed;
  top: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 80px;
  margin-left: 2rem;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
}

header a {
  margin: 1rem;
  text-decoration: none;
  border: none;
  padding: 0.5rem;
<<<<<<< HEAD
  color: black;
=======
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
}

header a:hover {
  font-weight: bold;
  background: transparent;
<<<<<<< HEAD
  border: 1px black solid;
=======
  border: 0.5px black solid;
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
  padding: 0.5rem;
  border-radius: 25px;
}

header a:visited {
  color: black;
}

header .active {
  color: grey;
  text-decoration: underline;
}

header #nav-toggle {
  display: none;
}

#welcome {
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 5vh 0;
}

#welcome .intro {
  background-image: url("assets/argo_intro.jpg");
<<<<<<< HEAD
  width: 100%;
=======
  max-width: 100%;
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
  height: 80vh;
  background-size: cover;
}

#welcome h1 {
<<<<<<< HEAD
  padding: 15%;
=======
  padding-top: 15%;
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
}

#history {
  padding: 15vh 4rem;
}

#history img {
  width: 350px;
}

<<<<<<< HEAD
=======
#origin {
  padding: 4rem;
}

>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
#heroes {
  padding: 15vh 4rem 0 4rem;
}

#heroes p {
  margin: 0;
}

#heroes .container-heroes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5rem;
}

#heroes .container-heroes div {
  width: 30%;
  min-width: 200px;
<<<<<<< HEAD
  height: 50vh;
=======
  max-height: 50vh;
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
}

#heroes .container-heroes img {
  width: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
}

#team {
  padding: 4rem;
}

#navis {
  padding: 4rem;
}

#navis img {
  width: 80%;
}

#journey {
  padding: 15vh 4rem;
}

#journey img {
  width: 80%;
}

#inventory {
  padding: 4rem;
  text-align: center;
}

#inventory table {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px white solid;
}

#inventory table tr {
  background-color: white;
}

<<<<<<< HEAD
#inventory table tr td {
  padding: 1rem;
}

=======
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
#contact {
  padding: 15vh 4rem;
}

#contact input, #contact textarea, #contact label {
  border: none;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
}

#contact .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  padding: 4rem;
  text-align: center;
  color: white;
  background: black;
  position: relative;
<<<<<<< HEAD
  bottom: 0;
  left: 0;
  width: 100%;
=======
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
}

footer .btn {
  border: 2px white solid;
}

footer .btn:hover {
  background: white;
}

footer .arrow {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  width: 40px;
}

@media all and (max-width: 1024px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article div {
    width: 100%;
    margin-bottom: 2rem;
  }
  .container-heroes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
  }
  .container-heroes div {
    margin: 2rem;
  }
}

@media all and (max-width: 768px) {
  .container-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 700px) {
  header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: transparent;
    overflow: hidden;
  }
  header div {
    width: 100%;
    background: whitesmoke;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 10;
  }
  header nav {
    background: whitesmoke;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    width: 100%;
    text-align: center;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  header .open {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  header img {
    margin: 0;
  }
  header a {
    padding: 0 8rem;
  }
  header a:hover {
    border: none;
    padding: 0;
  }
  header #nav-toggle {
    display: block;
    border: none;
    border-radius: 25px;
    background-color: white;
    padding: 1rem;
    z-index: 100;
  }
<<<<<<< HEAD
  #welcome h1 {
    padding-top: 35%;
  }
  #inventory table {
    width: 90%;
  }
}

@media all and (max-width: 500px) {
  p {
    font-size: .8rem;
    text-align: justify;
  }
  #heroes p {
    text-align: center;
  }
  #history, #team, #navis, #inventory {
    padding: 2rem 0;
  }
  #journey {
    padding: 15vh 0;
  }
  footer {
    padding: 2rem;
  }
=======
>>>>>>> d4f4e1c0445ddfa39a3c3d276f3b2988732e567f
}
/*# sourceMappingURL=style.css.map */